@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Pack It Up Storage Park </h1>
    <p><h2>The Number 1 Storage Faciliy in Kingston Jamaica, For All your Storage Needs!</h2></p>
   <img src="Images/logo.jpg.jpg" style="margin:0 auto; width: 100%;"  /> 

</div>
