@model PackitupStoragePark.Data.StorageUnit

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>StorageUnit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UnitId" />
            <div class="form-group">
                <label asp-for="UnitSize" class="control-label"></label>
                <input asp-for="UnitSize" class="form-control" />
                <span asp-validation-for="UnitSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitNumber" class="control-label"></label>
                <input asp-for="UnitNumber" class="form-control" />
                <span asp-validation-for="UnitNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UniPrince" class="control-label"></label>
                <input asp-for="UniPrince" class="form-control" />
                <span asp-validation-for="UniPrince" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

